[submodule "about/documents"]
path = about/documents
url = git@github.com:example/documents.git
branch = gh-pages
ignore = all

[submodule "custom-name"]
path = manifesto
url = https://github.com/example/manifesto.git
ignore = all

[submodule "relative/url"]
path = relative/url
url = ../such-relative.git
ignore = all
